<header class="text-white mb-3">
  <div class="bg-green-600 cotainer mx-auto flex justify-between items-center p-4">
    <button class="ml-4 bg-transparent border-none"
    (click)="onToggleSidebar()">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
    </svg>
    </button>
    <span class="font-semibold text-3xl">Inventario Online</span>
    <nav class="space-x-6">
      <a class="text-xl">{{username}}</a>
      <p-button label="cerrar sesión" severity="secondary" (onClick)="logoutDisplay()"/>
    </nav>
  </div>
</header>

<app-logout-dialog
  [display]="displayDialog"
  (close)="closeLogoutDisplay()"
></app-logout-dialog>