<div class="sidebar" [class.open]="isOpen">
  <div class="bg-gray-600/50 min-h-screen w-full fixed top-0 left-0 right-0 backdrop-blur-sm z-40"></div>
<div class="bg-green-600 min-h-screen w-80 fixed top-0 left-0 z-50">
  <div class="pt-3">
    <button class="ml-4 bg-transparent border-none text-white mb-14"
    (click)="onClose()">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
      </svg>
    </button>
    <div (click)="inicioSelected()" class="text-center text-white text-xl hover:bg-green-900
    cursor-pointer py-3 mb-2">Inicio</div>
    <div (click)="empresaSelected()" class="text-center text-white text-xl hover:bg-green-900
    cursor-pointer py-3 mb-2">Empresas</div>
    <div (click)="sucursalSelected()" class="text-center text-white text-xl hover:bg-green-900
    cursor-pointer py-3 mb-2">Sucursales</div>
  </div>
</div>
</div>
